/**--------MIN-WIDTH 428PX-------*/ 
@media screen and (min-width:428px){
    .container{
        width: 428px;
    }
    .tel{
        font-size: 36px;
    }
    .customers-item{
        width: calc((100% - 16px) / 2);
   }
    .team > .container {
        max-width: 296px;
    } 
    
   
}

@media screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dps) {
    .hero{
        background-image:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),  url(../images/hero-mobile-bg@2x.jpg);
    }
    }

/**--------MIN-WIDTH 768PX-------*/ 
@media screen and (min-width:768px) {

    .container {
        width: 768px;
    }
    .header-container{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .menu-open-btn{
        display: none;
    }
    .header-logo{
        margin-right: 120px;
    }
    .header-list{
        display: flex;
        gap: 40px;
    }  
    .header-adress{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .header-nav{
        align-items: center;
    }
    .header-link{
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color:var(--secondary-color); 
        transition: color var(--transition-duration-and-fund);
    }
    .bottom-studio{
        color: var(--Pressed-state);
    }
    .bottom-studio::after{
        position: absolute;
        content: "";
        width: 48px;
        height: 4px;
        left: 0px;
        top: 48px;
        background-color:var(--Pressed-state);
        border-radius: 2px;
    } 
    .header-link:hover,
    .header-link:focus{
        color:var(--Pressed-state);
    }
    .header-link:active {
        color:var(--Pressed-state);
    }
    .adress{
        font-style: normal; 
    }
    .link-tel{
        list-style: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--primary-color); 
        transition: color var(--transition-duration-and-fund);
    }
    .link-tel:hover,
    .link-tel:focus{
        color:var(--Pressed-state);
    }

    .link-tel:active{
        color:var(--Pressed-state);
    }
    .hero{
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url(../images/hero-tablet-bg.jpg) ;
    }
    .hero-text{
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        width: 496px;
        text-transform: none;
    }
    .about-list{
        column-gap: var(--card-set-gap);
        row-gap: calc(var(--card-set-gap)*3 );
    }
    .about-item{
       width: calc((100% - var(--card-set-gap)) / 2); 
    }
    .about-top{
        text-align: left;
    }
    .team > .container {
        max-width: 584px;
    }
    .team-item{
        width: calc((100% - var(--card-set-gap)) / 2);
    } 
    .team-list{
        column-gap: var(--card-set-gap);
        row-gap: calc(var(--card-set-gap)*3 );
    }
    .customers > .container {
        max-width: 584px;
    }
    .customers-list{
        column-gap: var(--card-set-gap);
        row-gap: calc(var(--card-set-gap)*3 );
    }
    .customers-item{
      width: calc((100% - 2 * var(--card-set-gap)) / 3);
    }
    .customers-link{
        width: 168px;
        height: 88px; 
    }
     .footer > .container {
        max-width: 584px;
    } 
    .modal {
     max-width: 408px;
     padding: 72px 24px 24px 24px;
    }
    .mob-menu{
        display: none;
    }
    .footer > .container {
        max-width: 582px;
    }
    .footer-content{
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        gap: 72px 24px;
    }
     .footer-container3{
        width: 453px;
    }
    .footer-form{
        display: flex;
        gap: var(--card-set-gap);
    }
    .footer-input{
        margin-bottom: 0;
    }
    .bottom-portfolio::after{
        position: absolute;
        content: "";
        width: 66px;
        height: 4px;
        left: 0px;
        top: 48px;
        background:var(--Pressed-state);
        border-radius: 2px;
    }
    .bottom-portfolio{
        color: var(--Pressed-state);
    }
}
    

     
@media screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dps) {
    .hero{
        background-image:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),  url(../images/hero-tablet-bg@2x.jpg);
    }
} 

/**--------MIN-WIDTH 1158PX-------*/  
@media screen and (min-width:1158px) {

    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-container{
        padding-top: var(--card-set-gap);
        padding-bottom: var(--card-set-gap);
    }
    .bottom-studio::after{
        top: 43px;
    }
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .header-logo{
        margin-right: 76px;
    }
    .header-adress{
        flex-direction: row;
        gap: 40px;
    }
    .link-tel{
        font-size: 16px;
    }
    .hero{
        padding-top: 188px;
        padding-bottom: 188px;
        max-width : 1440px; 
        background-image:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),  url(../images/hero-desctop-bg.jpg);
    }
    .hero-text{
        margin-bottom: 48px;
    }
    .about{
        padding-top: 120px;
        padding-bottom: 0;
    }
    .about-list{
        gap: var(--card-set-gap);
    }
    .about-item{
        flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4); 
    }
    .icon-container{
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-mode-backgrounds);
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .about-top{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .about-bottom{
        font-weight: 400;
    }
    .about-title-doing{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: var(--secondary-color);
        margin-bottom: 72px;
    }
    .doing{
       display: block;
    }
    .doing-list{
        display: flex;
        flex-wrap: wrap;
        gap: var(--card-set-gap);
    }
    .doing-item{
        flex-basis: calc((100% - 2 * var(--card-set-gap)) / 3);
        border: 1px solid var(--accent);
    }
    .team > .container {
        max-width: 1158px;
    }
    .team-item{
        width: calc((100% - 3 * var(--card-set-gap)) / 4);
    }
    .team-list{
        gap: var(--card-set-gap);
    }
    .customers > .container {
        max-width: 1158px;
    }
    .customers-list{
        gap: var(--card-set-gap);
    }
    .customers-item{
        width: 168px;
        height: 88px;  ;
    }
    .modal {
        max-width: 408px;
        height: 584px;
    }
    .footer-content {
       display: flex;
       justify-content: space-between;
       gap: 0;
    }
    .footer > .container {
        max-width: 1158px;
   }
   .footer-container1{
       width: 264px;
       margin-right: 120px;
    }
    .footer-container2{
        width: 208px;
    }
    .footer-container3{
        width: 453px;
        margin-left: 80px;
    }
    .bottom-portfolio::after{
        top: 43px;
    }
    
  
}
  

@media screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dps) {
    .hero{
        background-image:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),  url(../images/hero-desctop-bg@2x.jpg);
    }
}  
